@model MVC_NPANTS.Models.TipoPrendaVestir

@{
    ViewData["Title"] = "Edit";
}


<div class="main-container">
    <div class="page-header">
        <h1>Edit Tipo Prenda</h1>
    </div>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
       
        <div class="form-group">
            <label asp-for="Nombre">Nombre:</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="btn-container">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
