@model usuario

@{
    ViewData["Title"] = "Crear Nuevo Usuario";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

    <form asp-action="Create" method="post" class="shadow p-4 rounded bg-light">
        <div class="form-group mb-3">
            <label asp-for="nombre" class="form-label"></label>
            <input asp-for="nombre" class="form-control" required />
            <span asp-validation-for="nombre" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="email" class="form-label"></label>
            <input asp-for="email" class="form-control" required />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="password" class="form-label"></label>
            <input asp-for="password" class="form-control" type="password" required />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="rolid" class="form-label">Rol</label>
            <select asp-for="rolid" asp-items="ViewBag.Roles" class="form-select" aria-label="Default select example" required>
                <option value="" selected>Open this select menu</option>
            </select>
            <span asp-validation-for="rolid" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Crear</button>
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
