@model MVC_NPANTS.Models.Cliente

@{
    ViewData["Title"] = "Crear Nuevo Cliente";
}

<div class="blanco">
    <div class="page-header">
        <h2 class="text-center mb-4">@ViewData["Title"]</h2>
    </div>

    <form asp-action="Create" method="post" class="shadow p-4 rounded bg-light">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="form-group mb-3">
                    <label asp-for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" required />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="form-group mb-3">
                    <label asp-for="Direccion" class="form-label">Dirección</label>
                    <textarea asp-for="Direccion" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="form-group mb-3">
                    <label asp-for="Telefono" class="form-label">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

             <div class="col-md-6 col-12">
                <div class="form-group mb-3">
                    <label asp-for="TipoclienteId" class="form-label">Tipo de Cliente</label>
                    @Html.DropDownListFor(model => model.TipoclienteId, (SelectList)ViewBag.TiposClientes, "Seleccione un tipo de cliente", new { @class = "form-control" })
                    <span asp-validation-for="TipoclienteId" class="text-danger"></span>
                </div>
            </div> 
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
