<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_NPANTS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/Index">
                    🐧 Skipper
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- Agrupación Clientes -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Cliente" asp-action="Index">Cliente</a></li>
                                <li><a class="dropdown-item" asp-controller="TipoCliente" asp-action="Index">Tipo Cliente</a></li>
                            </ul>
                        </li>

                        <!-- Agrupación Productos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="PrendaVestir" asp-action="Index">Prendas Vestir</a></li>
                                <li><a class="dropdown-item" asp-controller="Tela" asp-action="Index">Tela</a></li>
                                <li><a class="dropdown-item" asp-controller="Estilo" asp-action="Index">Estilos</a></li>
                                <li><a class="dropdown-item" asp-controller="Talla" asp-action="Index">Talla</a></li>
                                <li><a class="dropdown-item" asp-controller="TipoPrendaVestir" asp-action="Index">Tipo Prenda Vestir</a></li>
                                <li><a class="dropdown-item" asp-controller="DetalleProducto" asp-action="Index">Tipo Prenda Vestir</a></li>
                              

                            </ul>
                        </li>

                        <!-- Agrupación Pedidos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pedidos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="EstadoPedido" asp-action="Index">Estado Pedido</a></li>
                                <li><a class="dropdown-item" asp-controller="Pago" asp-action="Index">Pago</a></li>
                                <li><a class="dropdown-item" asp-controller="Pedido" asp-action="Index">Pedido</a></li>

                            </ul>
                        </li>

                        <!-- Otras opciones -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Usuarios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Roles" asp-action="Index">Roles</a></li>
                                <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Index">Usuarios</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Bonitos y gorditos</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Formulario de 
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form>
                     -->
                </div>
            </div>
        </nav>
    </header>

    <div class="container main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - MVC_NPANTS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
