@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="page-header">
        <h1 class="page-header__title">Kowalski, ¿cuál es nuestra trayectoria?</h1>
        <p class="page-header__description">
            95% seguro de que estamos perdidos 🐧 ¿Y el otro 5%? Aventura y gloria como ningún otro pingüino ha vivido 🌊✨
        </p>
        <button class="btn-create">¡Descubre Más!</button>
    </div>

    <section class="form-label">
        <h2> 🦝 ARTIFICERS 🦝 </h2>
        <p>Desarrollamos soluciones innovadoras para tus necesidades tecnológicas .</p>
        <p class="form-label">
            Aprende sobre <a href="https://www.youtube.com/watch?v=H0mYMeGXGAM">cómo construir aplicaciones web con ASP.NET Core</a> .
        </p>
    </section>
</div>