@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="page-header">
        <h1 class="page-header__title">-NPANTS-</h1>
        <p class="page-header__description">
            ¡Olvídate del papel y lápiz! Simplifica y organiza tu negocio con un sistema eficaz, moderno y fácil de usar.
        </p>
        <button class="btn-create">¡Descubre Más!</button>
    </div>

    <section class="form-label">
        <h1><center> 🦝</center></h1>  <h2>  ARTIFICERS®  </h2><h1><center> 🦝</center></h1>
       
        <p class="form-label">
            Optimiza la administración de tu negocio con nuestra herramienta de gestión de clientes y 
            pedidos. Registra fácilmente la información de tus clientes, lleva un control detallado de
            sus compras y asegura un seguimiento eficiente de cada pedido. Todo en un solo lugar, diseñado
            para ahorrar tiempo y mejorar tu productividad.
        </p>
    </section>

</div>
