@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="page-header">
        <h1 class="page-header__title" style="font-size:20px">TEXTURA STUDIO</h1>
        <p class="page-header__description">
            ¡Olvídate del papel y lápiz! Simplifica y organiza tu negocio con un sistema eficaz, moderno y fácil de usar.
        </p>
        <button class="btn-create">¡Descubre Más!</button>
    </div>

    <section class="form-label">
         <img src="~/img/texturaStudio.png" alt=" " class="img-fluid mx-auto d-block" />
       
        <p class="form-label">
            Optimiza la administración de tu negocio con nuestra herramienta de gestión de clientes y 
            pedidos. Registra fácilmente la información de tus clientes, lleva un control detallado de
            sus compras y asegura un seguimiento eficiente de cada pedido. Todo en un solo lugar, diseñado
            para ahorrar tiempo y mejorar tu productividad.
        </p>
    </section>

</div>
